<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs"); %>
</head>
<body>
    <div class="wrapper edit">
        <header>
            <%- include("./partials/header.ejs"); %>
        </header>
        <main class="edit">
            <form action="/edit" method="POST" class="edit-form">
                <% game.map((data) => { %>
                    <fieldset>
                        <legend>Item information</legend>
                <div class="edit form-row">
                    <label for="name">Title: </label>
                    <input type="text" name="name" id="name" value="<%= data.game_name %>">
                </div>
                <div class="edit form-row">
                    <label for="id">Product ID: </label>
                    <input type="text" name="id" id="id" value="<%= data.id %>" inert>
                </div>
                <div class="edit form-row">
                    <label for="genre">Genre: </label>
                    <input type="text" name="genre" id="genre" value="<%= data.genre %>">
                </div>
                <div class="edit form-row">
                    <label for="studio">Game Studio: </label>
                    <select name="studio" id="studio">
                        <option value="" disabled hidden>Add a console</option>
                        <option value="null"></option>
                        <% studios.map((studio) => { %>
                            <%
                                let selected = (studio.name == data.studio_name) ? "selected" : "";
                            %>
                            <option 
                                value="<%= studio.name %>"
                                <%= selected %>
                                >
                                    <%= studio.name %>
                            </option>
                        <% }); %>
                    </select>
                </div>
                <div class="edit form-row">
                    <label for="release_year">Release year: </label>
                    <input type="text" name="release_year" id="release_year" value="<%= data.release_year %>">
                </div>
                </fieldset>
                <fieldset>
                    <legend>Store information</legend>
                <div class="edit form-row">
                    <label for="console">Available on: </label>
                    <select name="console" id="add-console">
                        <option value="" selected disabled hidden>Add a console</option>
                        <option value="null"></option>
                        <% consoles.map((console) => { %>
                            <%
                                let selected = (console.name == data.console) ? "selected" : "";
                            %>
                            <option value="<%= console.name %>" <%= selected %>><%= console.name %></option>
                        <% }); %>
                    </select>
                    
                    <!-- TODO: add multi select for consoles, can remove existing ones -->
                </div>
                <div class="edit form-row">
                    <label for="in_stock">In Stock: </label>
                    <input type="number" name="in_stock" id="in_stock" value="<%= data.in_stock %>">
                </div>
                <div class="edit form-row">
                    <label for="price">Price: </label>
                    <input type="tel" name="price" id="price" value="<%= data.price %>">
                </div>
                </fieldset>
                <% }); %>
                <button type="submit">Submit Changes</button>
                <a class="button" href="/">Cancel</a>
            </form>
            <aside>
            <ul>
                <% if (errors) { %>
            <% errors.map((error) => { %>
                <li><%= error.msg %></li>
            <% }); %>
            <%}%>
            </ul>
        </aside>
        </main>
        
        <footer>
            <%- include("./partials/footer.ejs", { links: links }); %>
        </footer>
    </div>
</body>
</html>