<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs"); %>
</head>
<body>
    <div class="wrapper">
    <header>
        <%- include("./partials/header.ejs"); %>
    </header>
        <main>
            <ul class="games-list">
                <%- include("./partials/game.ejs", { games: games }); %>
            </ul>
        </main>
        <aside class="sidebar">
            <%- include("./partials/sidebar.ejs", { genres: genres, consoles: consoles }) %>
        </aside>
    <footer>
        <%- include("./partials/footer.ejs", { links: links }); %>
    </footer>
    </div>
</body>
</html>