<% games.map((game) => { %>
    <li>
        <div class="gameContainer">
            <div class="game-info">
                <h3><%= game.game_name %></h3>
                <div class="game-desc">
                <p>Studio: <%= game.studio_name %></p>
                <p>Genre: <%= game.genre %></p>
                <p>Released: <%= game.release_year %></p>
                <p>Available on: <%= game.console.toString().replaceAll(",", ", ").replaceAll("_", " "); %></p>
                </div>
            </div>
            <div class="<%= game.in_stock !== 0 ? "available" : "not-available" %>">
                <h4><%= game.in_stock %></h4>
                <p><%= game.in_stock !== 0 ? "Available" : "Not Available" %></p>
            </div>
            <p class="game-id"><%= game.id %></p>
            <p class="game-price">$<%= game.price %></p>
            <a class="edit-button" href="/edit/<%= game.game_name %>">Edit</a>
            
        </div>
    </li>
<% }); %>